<?xml version="1.0"?>
<!--
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_save_after">
        <observer name="sendorder_sales_order_save_after" instance="Yaoli\Sendorder\Observer\SyncOrderToOaObserver"/>
    </event>

    <event name="sales_order_state_change_before">
        <observer name="sendorder_sales_order_state_change_before" instance="Yaoli\Sendorder\Observer\SyncOrderToOaObserver"/>
    </event>

    <event name="controller_action_predispatch">
        <observer name="sendorder_controller_action_predispatch" instance="Yaoli\Sendorder\Observer\LogHttpRefererObserver"/>
    </event>
</config>
